@font-face {
  font-family: "TATSanaChon";
  src: url(/TATSanaChon-Regular.611cee9f.woff2) format("woff2");
}
@font-face {
  font-family: "TATSanaChon";
  src: url(/TATSanaChon-Bold.fca042c1.woff2) format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "TATSanaSuksa";
  src: url(/TATSanaSuksa-Regular.8a864003.woff2) format("woff2");
}
.text-color-primary {
  color: #E6332A;
}

.text-primary {
  font-family: "TATSanaChon";
}

.text-bold {
  font-weight: bold;
}

.reset-margin {
  margin: 0;
}

nav {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  background: #fff;
  z-index: 999;
}

.nav-list {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list-item {
  list-style-type: none;
  font-family: "TATSanaChon";
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14px;
  cursor: pointer;
}

.nav-list-item > a {
  position: relative;
}
.nav-list-item > a::after {
  box-sizing: border-box;
  display: block;
  content: "";
  position: absolute;
  bottom: -14px;
  height: 0.5em;
  width: 100%;
  background-color: #213A8F;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.nav-list-item > a:hover {
  color: #213A8F;
}
.nav-list-item > a:hover::after {
  transform: scaleX(1);
}

section#banner {
  height: 350px;
  display: flex;
  align-items: stretch;
}

.banner-cover-item {
  flex: 1;
}

.banner-cover-item-3, .banner-cover-item-2, .banner-cover-item-1 {
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-cover-item-1 {
  background-image: url(/banner-cover-1.a80bce1f.jpg);
}

.banner-cover-item-2 {
  background-image: url(/banner-cover-2.20c0a0e9.jpg);
}

.banner-cover-item-3 {
  background-image: url(/banner-cover-3.adee2cf4.jpg);
}

#banner-brand {
  position: absolute;
  height: 350px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
}

section#register {
  margin-top: 2em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#duration-label {
  margin: 0;
}

#duration {
  font-size: 2.5em;
}

#register-btn {
  background-color: #213A8F;
  box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
  color: #FFFFFF;
  font-size: 24px;
  min-width: 800px;
  line-height: 1.5;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s;
}
#register-btn:hover {
  background-color: #FBBC33;
}

section#details {
  margin-left: 17%;
  margin-right: 17%;
}

section#links {
  margin-left: 17%;
  margin-right: 17%;
  margin-bottom: 5em;
}

#big-links {
  display: flex;
  width: 100%;
  margin: 5em 0;
}

.small-link-item, .big-link-item {
  flex: 1;
  padding: 0px 15px;
}
.small-link-item img, .big-link-item img {
  cursor: pointer;
  width: 100%;
}

#small-links {
  display: flex;
  padding: 0px 15px;
  width: 100%;
  justify-content: space-around;
}

.small-link-item img {
  width: 75%;
  box-sizing: border-box;
  transition: all 0.55s ease-in-out;
}
.small-link-item img:hover {
  transform: scale(1.2);
}

#footer-contacts {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: space-around;
  background-color: #FAFAFA;
}

#footer-brand {
  flex: 1;
  padding: 10px;
}

#footer-contacts-details {
  flex: 3;
  display: flex;
}

.footer-contacts-details-section {
  padding: 15px;
  flex: 1;
}

#footer-nav {
  padding-left: 17%;
  padding-right: 17%;
  color: #FFFFFF;
  background-color: #213A8F;
}
#footer-nav ul#footer-nav-list {
  margin: 0;
  padding: 9px 0;
  display: flex;
  list-style-type: none;
}
#footer-nav ul#footer-nav-list li.footer-nav-list-item {
  flex: 1;
  padding: 0px 15px;
  font-size: 14px;
}

main {
  padding-top: 60px;
}

* {
  font-family: "TATSanaSuksa";
  line-height: 1.8;
}

/*# sourceMappingURL=/main.48b3db1d.css.map */