section#register {
  margin-top: 1.5em;
  margin-bottom: 5em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#duration-label {
  font-size: 1em;
}

#duration {
  font-size: 3em;
}

#register-btn {
  background-color: $ui-color-primary;
  box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
  color: $white;
  font-size: 24px;
  min-width: 800px;
  line-height: 1.5;

  margin: 0px 15px;

  padding: 0.5em;

  border: none;

  border-radius: 5px;
  outline: none;

  cursor: pointer;
  
  transition: background-color 0.25s;

  &:hover {
    background-color: #FBBC33;
  }

  @media only screen and (max-width: 600px) {
    max-width: 100%;
    min-width: 0;
  }
}
