#footer-nav {
  padding-left: 17%;
  padding-right: 17%;

  color: $white;
  background-color: $ui-color-primary;

  ul#footer-nav-list {
    margin: 0;
    padding: 9px 0;
    display: flex;
    list-style-type: none;

    li.footer-nav-list-item {
      flex: 1;
      padding: 0px 15px;
      font-size: 14px;
    }
  }
}
