#footer-nav {
  color: $white;
  background-color: $ui-color-primary;
  
  
  ul#footer-nav-list {
    margin: 0;
    padding: 0 0;
    display: flex;
    list-style-type: none;
    
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
    }

    li.footer-nav-list-item {
      flex: 1 600px;
      padding: 9px 15px;
      font-size: 14px;
      color: $white;

      a {
        text-decoration: none;

        &:visited {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}
