.text-color-primary {
  color: $text-color-primary;
}

.text-primary {
  font-family: $primary-font;
}

.text-bold {
  font-weight: bold;
}

.reset-margin {
  margin: 0;
}

.container {
  padding: 0 17%;

  @media only screen and (max-width: 600px) {
    padding: 0 15px;
  }
}
